<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/menu.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <nav class="ps-top">
      <div class="ps-bar ps-white ps-padding ps-card ps-nav">
        <a href="/" class="ps-bar-item ps-button">Pimienta & Sal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="ps-right ps-hide-small">
          <a href="/" class="ps-bar-item ps-button">About</a>
          <a href="/" class="ps-bar-item ps-button">Menu</a>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <%- include("partials/header") %>

    <!-- Page content -->
    <div class="ps-content">

      <h1>Menu del chef:</h1>
  
      <section class="menu-wrap">
        <% products.forEach(function(plato) {  %>
          
          <article>
            <div class="img-container">
                <img src="/img/principal.jpg" alt="plato">
              </div>
              <p>informacion del plato:</p>
              <ul>
                <li>
                    Nombre: <%= plato.name %> 
                </li>
                <li>
                    Descripcion: <%= plato.description %> 
                </li>
                <li>
                  Precio:  <%= plato.price %>
                </li>
              </ul>
          </article>
        <% })  %> 
            
            
            
      </section>
    </div>
    
    
    
    <!-- Footer -->
    <%- include("partials/footer") %> 
  </body>
</html>